<div class="row">
  <div class="col offset-m1 s12 m5">
    <a href="/home/dankook">
      <div class="card">
        <div class="card-image">
          <img src="/assets/dankook/dankook_1.png">
          <span class="card-title">멋사x단국대학교</span>
        </div>
        <!--<div class="card-content">-->
        <!--  <p>단국대 선정 이유</p>-->
        <!--</div>-->
      </div>
    </a>
  </div>
  <div class="col s12 m5">
    <a href="/home/sungshin">
      <div class="card">
        <div class="card-image">
          <img src="/assets/sungshin/sungshin_1.png">
          <span class="card-title">멋사x성신여자대학교</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col offset-m1 s12 m5">
    <a href="/home/kookmin">
      <div class="card">
        <div class="card-image">
          <img src="/assets/kookmin/kookmin_1.png">
          <span class="card-title">멋사x국민대학교</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m5">
    <a href="/home/skku">
      <div class="card">
        <div class="card-image">
          <img src="/assets/skku/skku_1.png">
          <span class="card-title">멋사x성균관대학교</span>
        </div>
      </div>
    </a>
  </div>
</div>