<div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="slider">
      <ul class="slides">
        <li><img src="/assets/kookmin/kookmin_1" class="responsive-img"></li>
        <li><img src="/assets/kookmin/kookmin_2" class="responsive-img"></li>
        <li><img src="/assets/kookmin/kookmin_3" class="responsive-img"></li>
        <li><img src="/assets/kookmin/kookmin_4" class="responsive-img"></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col offset-m2 s12 m8">
    <h5 class="center-align">
     <a href="http://ec2-52-79-58-225.ap-northeast-2.compute.amazonaws.com/" target="_blank">멋사x국민대학교 보러 가기</a>
    </h5>
  </div>
</div>