<div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="slider">
      <ul class="slides">
        <li><img src="/assets/sungshin/sungshin_1" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_2" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_3" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_4" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_5" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_6" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_7" class="responsive-img"></li>
        <li><img src="/assets/sungshin/sungshin_8" class="responsive-img"></li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col offset-m2 s12 m8">
    <h5 class="center-align">
     <a href="https://sungshin-likelion-pyouneunji.c9users.io" target="_blank">멋사x성신여자대학교 보러 가기</a><br>
     <a href="https://ide.c9.io/pyouneunji/sungshin-likelion" target="_blank">c9 코드</a>
    </h5>
  </div>
</div>